@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*importamos la fuente que vamos a usar desde google fonts, los import siemre van arriba del todo*/

:root {
    --colorazul: #098CF8;
    /*Creamos una variable, es necesaio el -- al inicio, esto es OBLIGATORIO para el profeosr, y funciona para reutilizar valores*/
    --colorblanco: #ffffff;
    --colorfonditos:#A7D7FF;
    --colormargen:#C2CBD1;
}

.header {
    background-color:var(--colorazul);
    color: var(--colorblanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    border-radius: 30px;
}

body{
    background-color:#A4CAE9;
}
.nav a {
    color: var(--colorblanco);
    text-decoration: none;

}


.nav {
   display: flex;
   gap: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    /*Ponemos el tipo de letra que nos dio google cuando lo importamos*/
}
.papa{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between; 
    gap: 70px;
}
.article{
    width: 20%;
    height: auto;
    padding: 40px;
    border-radius: 30px;
    border: var(--colormargen) 1px solid;
    margin: 5px;
    background-color:var(--colorfonditos);
}

.img {
    border-radius: 30px;
    width: 230px;
    border: black 3px solid;
}

.tittle{
   
    text-align: center;
    padding: 20px 0px;
    margin-top: 120px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color:var(--colorazul);

}

.article a{
    color: var(--colorblanco);
    text-decoration: none;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: var(--colorfonditos);
    border: var(--colormargen);
    border-radius: 30px;
    width: 380px;
}

.formu{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.espacios {
    width: 80%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: 1px solid var(--colorazul);
}

.formulario button {

    width: 50%;
    border-radius: 8px;
    border: solid 1px rgb(2, 2, 74);
    padding: 10px;
    margin: 10px;
}

.foot{
    background-color: var(--colorazul);
    color: var(--colorblanco);

}
.mapas{
    display: flex;
    justify-content: space-around;
}

.mapitas {
    text-align: center;
    width: 20%;
    height: auto;
    padding: 25px;
    border-radius: 30px;
    border: var(--colormargen) 1px solid;
    background-color: var(--colorfonditos);
    margin-top: 70px;
}
    
.titulo {
    text-align: center;
    padding: 10px 0px;
    margin: 10px;
    border-radius: 30px;
    background-color:var(--colorazul);
}

.copy{
    text-align: center;
    color: var(--colorblanco);
    margin-top: 30px;
}
